@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4 bemvindo">Bem vindo</h1>
    <p>Este é um sistema de controle de contatos criado para aprender e estudar conceitos sobre o modelo ASP.NET MVC, utilizando a linguagem de programação C#.</p>
    <p>Pojeto desenvolvido seguindo o curso gratuito no youtube do professor Acassiano Neves do canal Programador Tech</p>
</div>
